---
import AuthLayout from "../_components/layouts/auth-layout.astro";
import ForgotPasswordForm from "@modules/auth/components/RecoveryForm";
import { getLangFromUrl } from "@src/i18n";

const lang = getLangFromUrl(Astro.url);
---

<AuthLayout title="Forgot Password | System Recovery">
  <div class="flex min-h-screen items-center justify-center p-4">
    <ForgotPasswordForm lang={lang} client:load />
  </div>
</AuthLayout>
