---
import ForgotPasswordForm from "@modules/auth/components/forgot-password.form";
import AuthLayout from "../_components/layouts/auth-layout.astro";
import { getLangFromUrl } from "@src/i18n";

const lang = getLangFromUrl(Astro.url);
---

<AuthLayout title="Forgot Password | System Recovery">
  <div class="flex min-h-screen items-center justify-center p-4">
    <ForgotPasswordForm client:load />
  </div>
</AuthLayout>
