---
import ForgotPasswordForm from "@modules/auth/components/forgot-password-form";
import AuthLayout from "../_components/layouts/auth-layout.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<AuthLayout title={`${t("auth.terminal.reset")} | System Recovery`}>
  <div class="flex min-h-screen items-center justify-center p-4">
    <ForgotPasswordForm lang={lang} client:load />
  </div>
</AuthLayout>
