---
import AuthLayout from "../_components/layouts/auth-layout.astro";
import RegisterForm from "@modules/auth/components/register-form";
import { getLangFromUrl, useTranslations } from "../../../i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<AuthLayout title={t("auth.register.title")}>
  <div class="flex min-h-screen items-center justify-center p-4">
    <div class="w-full max-w-[600px]">
      <h1
        class="text-3xl font-black text-center mb-6 text-white uppercase tracking-tighter"
      >
        {t("auth.createAccount")}
      </h1>
      <RegisterForm lang={lang} client:load />
    </div>
  </div>
</AuthLayout>
