---
import "@assets/css/global.css";
import "../_main.ts";
import { DashboardRouter } from "./_dashboard-router";
import { NAME_APP, STORAGE_URL } from "astro:env/server";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Dashboard | Admin</title>
    <script define:vars={{ STORAGE_URL, NAME_APP }} is:inline>
      window.env = {
       STORAGE_URL,
       NAME_APP
      };
    </script>
  </head>
  <body class="dashboard">
    <DashboardRouter client:only="preact" lang="es" />
  </body>
</html>
