---
import "@assets/css/global.css";
import "../_main.ts";
import { DashboardRouter } from "./_dashboard-router";
import * as env from "astro:env/server";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Dashboard | Admin</title>
    <script define:vars={{ STORAGE_CDN_URL: env.STORAGE_CDN_URL, NAME_APP: env.NAME_APP, VAPID_PUBLIC_KEY: env.VAPID_PUBLIC_KEY, NODE_ENV: env.NODE_ENV?.toUpperCase(), PUBLIC_URL: env.PUBLIC_URL }} is:inline>
      window.env = {
       STORAGE_CDN_URL,
       NAME_APP,
       VAPID_PUBLIC_KEY,
       NODE_ENV,
       PUBLIC_URL
      };
    </script>
  </head>
  <body class="dashboard">
    <DashboardRouter client:only="preact" lang="es" />
  </body>
</html>
