---
import { cn } from "@infrastructure/utils/client";

interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<div class={cn("mb-16 flex flex-col items-center text-center", className)}>
  <h2
    class="text-xs font-bold text-primary tracking-[0.4em] uppercase mb-2 animate-in fade-in slide-in-from-bottom-4 duration-700"
  >
    {title}
  </h2>
  <div class="h-1 w-20 bg-primary/20 rounded-full overflow-hidden relative">
    <div
      class="absolute inset-0 bg-primary/50 w-full animate-progress-indeterminate origin-left"
    >
    </div>
  </div>
</div>
