services:
  dragonfly:
    image: "docker.dragonflydb.io/dragonflydb/dragonfly"
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    container_name: dragonfly_db
    restart: always
    networks:
      - dokploy-network
networks:
  dokploy-network:
    external: true
